<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css" />
    <script type="module" src="index.js"></script>
    <title>Spotify architecture</title>
</head>
<body>
    <header>
        <h1>Spotify</h1>
        <div>
            <button class="btn btn-secondary" id="select-user-btn">Select user</button>
            <button class="btn btn-main" id="create-user-btn">Create user</button>
        </div>
    </header>
    <div class="main-container">
        <aside class="sidebar">
            <div class="user-profile">
                <img src="https://via.placeholder.com/50" alt="Usuario">
                <span id="userNameDisplay">Nombre del Usuario</span>
            </div>
            <ul class="playlists">
                <li>Playlist 1</li>
                <li>Playlist 2</li>
                <li>Playlist 3</li>
            </ul>
        </aside>
        <main class="content">
            <div class="playlist-header">
                <img src="https://via.placeholder.com/100" alt="Playlist Cover">
                <h1>Nombre de la Playlist</h1>
            </div>
            <ul class="songs">
                <li>Canción 1</li>
                <li>Canción 2</li>
                <li>Canción 3</li>
            </ul>
        </main>
    </div>

    <!-- Modal to create a user -->
    <div class="modal" id="create-user-modal">
        <div class="modal-content">
            <h2>Create user</h2>
            <input type="text" placeholder="User name" class="input" id="username-input">
            <button class="btn btn-main" id="save-user-btn">Save</button>
            <button class="btn btn-secondary" id="close-create-user-modal"">Close</button>
        </div>
    </div>

    <!-- Modal to select a user -->
    <div class="modal" id="select-user-modal">
        <div class="modal-content">
            <h2>Select user</h2>
            <ul id="users-list"></ul>
            <button class="btn btn-secondary" id="close-select-user-modal">Close</button>
        </div>
    </div>
</body>
</html>
